@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
    background-color: #f8f4e8;
    color: #333;
    line-height: 1.8;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}


a:hover {
    border-bottom-color: currentColor; /* This ensures the underline matches the text color */
}

/* NAVIGATION */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 1.3rem;
    list-style: none;
    font-size: 1.4rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(181, 181, 181);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.logo {
    font-size: 3rem;
    display: inline-block;
    line-height: 1.2;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    position: -webkit-sticky;
}

.logo:hover {
    cursor: default;
}


.profile-pic {
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height to make it square */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 3px solid #7772727a; /* Adds a border, change color as needed */
    transition: transform 0.3s ease;
   
}


body.dark-mode .profile-pic-container {
    background-color: #2a2a2a; /* Darker background for dark mode */
}

.profile-pic:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

body.dark-mode .profile-pic {
    border-color: #f8f8f8; /* Changes border color in dark mode */
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content {
    width: 100%;
}

#about h2 {
    margin-bottom: 15px;
}

.about-text p {
    margin-bottom: 15px;
}

#about p {
    overflow: hidden; /* Ensures text wraps around the image */
}
/* HAMBURGER NAV */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 1000; /* Ensure it's above other content */
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95); /* Increased opacity */
    width: 200px; /* Fixed width */
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensure it's above other content */
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: left; /* Align text to the left */
    font-size: 1.2rem; /* Slightly smaller font size */
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 400px; /* Increased max-height */
    padding: 10px 0;
}

.menu-links a:hover {
    background-color: #e9dfd0a8;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* SECTIONS AND CONTENT */

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease-in-out, transform 0.5s; /* Reduced from 0.5s to 0.3s */
    padding-top: .5%;
    
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-content {
    max-width: 800px;
    margin: 50px auto 20px;
    padding: 0 20px;
    line-height: 1.6;
}

.portfolio-content h1 {
    font-size: 1em;
    font-weight: normal;
}

.portfolio-content h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

.portfolio-content p {
    margin: 5px 0;
}

.project {
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateX(5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    transition: transform 0.3s ease;
    box-shadow: none;
}

.project-title {
    font-weight: bold;
}

.project-year {
    font-style: italic;
}

.project-description {
    margin-left: 20px;
}

.project-link {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease;
    cursor: pointer;
}

.project-link:hover {
    border-bottom-color: #333;
}

.resume-buttons {
    margin-top: 20px;
}

.resume-link {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease;
    cursor: pointer;
}

.resume-link:hover {
    border-bottom-color: #333;
}

.contact-link {
    color: rgb(85, 85, 85);
}

/* ANIMATIONS */
@keyframes popIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#contact p {
    opacity: 0;
}

#contact.visible p {
    animation: popIn 0.5s forwards;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* DARK MODE */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f8f8f8;
}

body.dark-mode a {
    color: inherit; /* Inherit the color from the parent */
    border-bottom-color: transparent; /* Same as the light mode, ensure smooth transition */
}

body.dark-mode a:hover {
    border-bottom-color: currentColor; /* Underline matches the text color */
}

body.dark-mode p {
    color: #d0d0d0;
}

body.dark-mode .nav-links a,
body.dark-mode .logo,
body.dark-mode .project-link,
body.dark-mode .resume-link,
body.dark-mode .mode-text {
    color: #f8f8f8;
}

body.dark-mode .nav-links a::after {
    background-color: #f8f8f8;
}

body.dark-mode .project:hover {
    box-shadow: none;
}

body.dark-mode .project-link:hover,
body.dark-mode .resume-link:hover {
    border-bottom-color: #f8f8f8;
}

body.dark-mode ::-webkit-scrollbar-track {
    background: #2a2a2a;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: #888;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body.dark-mode .hamburger-icon span {
    background-color: white;
}

body.dark-mode .menu-links {
    background-color: rgba(40, 40, 40, 0.95); /* Increased opacity for dark mode */
}

body.dark-mode .menu-links a {
    color: white;
}

body.dark-mode .menu-links a:hover {
    background-color: #383838;
}

/* THEME SWITCH */
.theme-switch-wrapper {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1001; /* Ensure it's above other elements */
}

.theme-switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 28px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 12px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 12px;
}

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.mode-text {
    margin-left: 10px;
    font-size: 0.9rem;
}
